{% extends "::base.html.twig" %}

{% block body %}

<i> Tout comme nous vous partagez la passion du cinéma ? Ce blog est là pour vous! Vous y retrouverez le box office de la semaine en cours, des articles sur quelques films parues sur lesquels vous pouvez débattre ou tout simplement donnez votre avis. Vous pourrez même ajouter votre propre article ! Vous voulez donner votre ressenti sur un film sorti dernièrement ou même il y a quelques années ? N'hésitez pas une seul seconde, on est là pour ca : <b> Parler cinéma ! </b> </i>
<br> </br>

{% for i in ListArticles %}
<div class="panel panel-default">
<div class="panel-heading"> <b> {{i.title}} </b>  </div>
<div class="panel-heading">  De {{i.author}} le {{ i.date|date('d/m/Y') }} </div>
<!-- <div class="panel-body"> {{i.content}} </div> -->
<br> <a href="{{ path('articleafficher2', {'id':i.id}) }}">     Lire le contenu ... </a> </br> </div>
{% else %}
Pas d'articles
{% endfor  %}

{% endblock %}
